<section class="trust"><div class="wrap">
<div class="ti"><div class="stars" aria-hidden="true">&#9733;&#9733;&#9733;&#9733;&#9733;</div><div class="rate">{{ s.rating | mdi | safe }}</div></div>
<div class="ti"><p class="tq">&ldquo;{{ s.quote | mdi | safe }}&rdquo;</p><cite>{{ s.cite | mdi | safe }}</cite></div>
<div class="ti"><div class="tmark">{{ s.mark | lines | safe }}</div></div>
</div></section>
